#collect,
#grow,
#online {
    color: #FFD757
}

#feature1,
#feature2,
#feature3 {
    color: #0040f0;
    font-size: 36px;
}

#first-input {
/*     max-width: 480px;
    width: 100%; */
    min-width: 220px;

}

/* #submit,
#submit1 {
    min-width: 80px;

} */
#wavessvg {
    margin-top: 80px;
}
@media only screen and (max-width:600px) {
    #mc-embedded-subscribe-form {
        width: 80%;
        margin: 0 auto;

        padding: 0;
        display: flexbox;
        flex-direction: column;

    }

    #first-input,
    #second-input {
        margin-bottom: 24px;
    }

    #submit1,
    #submit {
        width: 80%;
        margin: 0 auto;
    }

    body {
        width: 98%;
        margin: 0 auto;
    }
}
